#*#
*.o
*~
.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src-i386
src-x64
src/Netica/LicAgree.txt

autom4te.cache
config.log
config.status

Makevars

aclocal.m4
./
config.h
#DESCRIPTION#
symbols.rds
src/Netica/Makefile
src/Netica/NeticaAPI.zip
src/Netica/Netica_API_607/lib/libnetica.a
src/Netica/Netica_API_607/*
src/Netica/NeticaAPI.zip
src/Netica/Makefile
