import(methods)

export(StartNetica, StopNetica, NeticaVersion,
       ReportErrors, ClearAllErrors,
       CreateNetwork, DeleteNetwork,
       print.NeticaBN, toString.NeticaBN, is.active, is.IDname,
       GetNthNet, GetNamedNets, CopyNets)

## export(WriteNet, ReadNet,
##        GetNetFileName)

## export(GetNetName, RenameNet,
##        GetNetAutoUpdate, SetNetAutoUpdate, WithoutAutoUpdate,
##        GetNetTitle, SetNetTitle,
##        GetNetComment, SetNetComment,
##        GetNetUserField, SetNetUserField,
##        GetNetAllUserFields,
##        NetworkUndo, NetworkRedo)



S3method(print, NeticaBN)
S3method(toString, NeticaBN)

       
