import(methods)

export(StartNetica, StopNetica, NeticaVersion,
       ReportErrors, ClearAllErrors,
       CreateNetwork, DeleteNetwork,
       print.NeticaBN, toString.NeticaBN, is.active,
       is.IDname, is.NeticaBN,
       GetNthNetwork, GetNamedNetworks, CopyNetworks,
       .Last.lib)

export(WriteNetworks, ReadNetworks,
       GetNetworkFileName,
       NetworkName, "NetworkName<-",
       NetworkTitle, "NetworkTitle<-",
       NetworkComment, "NetworkComment<-",
       GetNetworkAutoUpdate, SetNetworkAutoUpdate, WithoutAutoUpdate,
       NetworkUserField, "NetworkUserField<-",
       NetworkAllUserFields,
       NetworkUndo, NetworkRedo
       )



S3method(print, NeticaBN)
S3method(toString, NeticaBN)
S3method(Ops, NeticaBN)

       
